@model ServiceResult<LineupResult>

@{
    ViewData["Title"] = "Lineup";
}

<a asp-controller="Agenda" asp-action="Index" asp-route-page="@this.GetQueryParam("page")" asp-route-pgeSize="@this.GetQueryParam("pageSize")" class="return">← Agenda</a>

@if (Model.Data is { } lineupResult)
{
    if (!string.IsNullOrEmpty(lineupResult.Name))
    {
        ViewData["Title"] = lineupResult.Name;
    }
    else
    {
        var names = lineupResult.LineupPerformanceResults.Select(x => x.ArtistResult.Name);
        if (names is not null)
        {
            ViewData["Title"] = string.Join(" + ", names.Take(3)) + (names.Count() > 3 ? $" + {names.Count() - 3} more" : "");
        }
        else
        {
            ViewData["Title"] = "tba";
        }
    }

    <article>
        <h2>@ViewData["Title"]</h2>

        <ul>
            <li>@lineupResult.Doors.ToLongDateString()</li>
            <li>Doors: @lineupResult.Doors.ToShortTimeString()</li>
        </ul>

        @if (lineupResult.ImageResult is not null)
        {
            <img src="@($"https://localhost:7188/image/download/{lineupResult.ImageResult.Id}")" alt="@lineupResult.ImageResult.Alt" />
        }
        else
        {
            <img style="width: 100%; " />
        }
       
        <!--lineup: description prop to be added -->
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        @foreach (var lineupPerformanceResult in lineupResult.LineupPerformanceResults ?? [])
        {
            <section>
                <img src="@($"https://localhost:7188/image/download/{lineupPerformanceResult.ArtistResult.ImageResult?.Id}")" />

                <h3>@lineupPerformanceResult.ArtistResult.Name</h3>

                <p>@(lineupPerformanceResult.ArtistResult.Description ?? "Stay tuned...")</p>

                @if (lineupPerformanceResult.BandcampId is not null && lineupPerformanceResult.BandcampId > 0 &&  !string.IsNullOrWhiteSpace(lineupPerformanceResult.BandcampLink))
                {
                    <Partial name="_BandcampPartial" Model=@lineupPerformanceResult />
                }

                @if (!string.IsNullOrWhiteSpace(lineupPerformanceResult.YouTube))
                {
                    <Partial name="_YouTubePartial" Model="@lineupPerformanceResult" />
                }

            </section>
        }

        <ul>
            <a asp-controller="Agenda" asp-action="Previous" asp-route-id="@Model.Data.Id">Previous</a>
            <a asp-controller="Agenda" asp-action="Next" asp-route-id="@Model.Data.Id">Next</a>
        </ul>  
    </article>
}



