@model LineupResult

<li>
    <a asp-controller="Agenda" asp-action="Lineup" asp-route-id="@Model.Id">
        @if (Model.ImageResult is not null)
        {
            <img src="@($"https://localhost:7188/image/download/{Model.ImageResult.Id}")" alt="@Model.ImageResult.Alt" />
        } else
        {
            <img style="max-width: 100%; aspect-ratio: 3/2;" />
        }


        <div>
            <h3>@Model.Doors.ToLongDateString()</h3>

            @if (!string.IsNullOrEmpty(Model.Name))
            {
                <h4>@Model.Name</h4>
            }

            @if (Model.PagedLineupPerformanceResult.Data is { } lineupPerformanceResults)
            {
                <ul>
                    @foreach (var performanceResult in lineupPerformanceResults)
                    {
                        <li>@performanceResult.ArtistResult.Name</li>
                    }
                </ul>
            }
        </div>
    </a>
</li>