@page "/artists"

@layout ArtistLayout

@inject IArtistService ArtistApiService
@inject ILineupService LineupApiService
@inject NavigationManager NavigationManager

<SubTitle ReturnUrl="@($"/")" ReturnTitle="Home">
    Index
</SubTitle>

<Navigation>
    <li><NavLink href="@($"artists/create{query}")">Create</NavLink></li>

    <li><NavLink href="@($"artists/filters{query}")">Filters</NavLink></li>
</Navigation>

@if (_pagedServiceResult is not null)
{
    <PagedList PagedServiceResult="_pagedServiceResult" Context="artistResult" OnPageChanged="(context) => FetchArtists(new PaginationRequest { Page = (uint)context.Page, PageSize = (uint)context.PageSize }, new ArtistFilter ())">
        <ItemTemplate>
            <ArtistItem Model="artistResult">
                <Buttons>
                    <li><NavLink href="@($"artists/{artistResult.Id}{query}")">Edit</NavLink></li>

                    <li><NavLink href="@($"artists/delete/{artistResult.Id}{query}")">Delete</NavLink></li>
                </Buttons>
            </ArtistItem>
        </ItemTemplate>
    </PagedList>
}
else
{
    <Spinner />
}

@code {
    private PagedServiceResult<IList<ArtistResult>>? _pagedServiceResult;

    private string? query;

    protected override async Task OnInitializedAsync()
    {
        await FetchArtists(NavigationManager.GetPaginationRequest() ?? new PaginationRequest { Page = 1, PageSize = 12 }, new ArtistFilter());

        await base.OnInitializedAsync();
    }

    private async Task FetchArtists(PaginationRequest paginationRequest, ArtistFilter artistFilter)
    {
        query = '?' + paginationRequest.ToQueryString();

        _pagedServiceResult = await ArtistApiService.GetAll(paginationRequest, new ArtistFilter());
    }
}
