@page "/performances/create/lineup"

@layout MusicClubManager.Blazor.Layout.PerformanceCreateLayout

@inject ILineupService LineupApiService

<section id="lineup">
    <h3>Lineup</h3>

    @if (_lineupResult is not null)
    {
        <p>@_lineupResult.Name (id: @_lineupResult.Id)</p>
    }
    else
    {
        <p>Lineup selected</p>
    }

    <div>
        <button type="button" @onclick="() => _isNewLineupOpen = true">New</button>
        <button type="button" @onclick="() => _isSelectLineupOpen = true">Select</button>
    </div>

    @if (_isNewLineupOpen)
    {
        <button type="button" @onclick="() => _isNewLineupOpen = false">Close new</button>

        <LineupCreateEditForm Model="Context.LineupFormModel" OnPosted="HandleOnLineupPosted" />
    }

    @if (_isSelectLineupOpen)
    {
        <button type="button" @onclick="() => _isSelectLineupOpen = false">Close select</button>

        <LineupFilterForm Model="Context.LineupFilter" OnFilter="(lineupFilter) => FetchLineups(Context.LineupPaginationContext, lineupFilter)" />

        @if (_lineupResults is not null && _lineupResults.Count > 0)
        {
            <div>
                <h4>@Context.LineupPaginationContext.TotalCount results</h4>

                <ul>
                    <InputRadioGroup Name="@nameof(PerformanceContext.LineupId)" @bind-Value:get="Context.LineupId" @bind-Value:set="SetLineupResult">
                        @foreach (var lineupResult in _lineupResults)
                        {
                            <li>
                                <label>
                                    <InputRadio Name="@nameof(PerformanceContext.LineupId)" Value="lineupResult.Id" />
                                    <NavLink href="/">
                                        <span>Id: @lineupResult.Id</span>
                                        <span><b>Name: @lineupResult.Name</b></span>
                                        <span>Doors: @lineupResult.Doors</span>
                                    </NavLink>
                                </label>

                                <ul>
                                    @foreach (var performance in lineupResult.PagedLineupPerformanceResult.Data)
                                    {
                                        <li>@performance.Artist?.Name</li>
                                    }
                                </ul>

                                <PaginationSlim Context="new PaginationContext { Page = (int)lineupResult.PagedLineupPerformanceResult.Page, PageSize = (int)lineupResult.PagedLineupPerformanceResult.PageSize, TotalCount = (int)lineupResult.PagedLineupPerformanceResult.TotalCount}"
                                                OnPageChanged="(context) => FetchLineup(lineupResult.Id, context)" />
                            </li>
                        }
                    </InputRadioGroup>
                </ul>
            </div>
        }
        else
        {
            if (Context.LineupResults is null)
            {
                <p>Loading... </p>
            }
            else
            {
                <p>There are no lineups</p>
            }
        }

        <Pagination Context="Context.LineupPaginationContext" OnPageChanged="(paginationContext) => FetchLineups(paginationContext, Context.LineupFilter)" />
    }

</section>

@code {
    [CascadingParameter]
    public required PerformanceContext Context { get; set; }

    private IList<LineupResult>? _lineupResults;

    private bool _isNewLineupOpen = false;
    private bool _isSelectLineupOpen = false;

    protected override async Task OnInitializedAsync()
    {
        await FetchLineups(Context.LineupPaginationContext, Context.LineupFilter);

        if (Context.LineupId is not null || Context.LineupId > 0)
        {
            _lineupResult = _lineupResults?.FirstOrDefault(a => a.Id == Context.LineupId);
            if (_lineupResult is null)
            {
                await FetchLineup((int)Context.LineupId);
            }
        }

        await base.OnInitializedAsync();
    }

    private LineupResult? _lineupResult;
    private void SetLineupResult(int? value)
    {
        Context.LineupId = value;

        _lineupResult = _lineupResults?.FirstOrDefault(a => a.Id == value);
    }

    private async Task FetchLineup(int id)
    {
        var serviceResult = await LineupApiService.Get(id);

        _lineupResult = serviceResult.Data;
    }

    private async Task HandleOnLineupPosted(LineupResult lineupResult)
    {
        Context.LineupFormModel = new LineupCreateEditFormModel();

        Context.LineupId = lineupResult.Id;
        _lineupResult = lineupResult;

        await FetchLineups(Context.LineupPaginationContext, Context.LineupFilter);
    }

    private async Task FetchLineups(PaginationContext paginationContext, LineupFilter lineupFilter)
    {
        var serviceResult = await LineupApiService.GetAll(new PaginationRequest { Page = (uint)paginationContext.Page, PageSize = (uint)paginationContext.PageSize }, lineupFilter);

        Context.LineupPaginationContext = new PaginationContext { Page = (int)serviceResult.Page, PageSize = (int)serviceResult.PageSize, TotalCount = (int)serviceResult.TotalCount };

        _lineupResults = serviceResult.Data;
    }

    private async Task FetchLineup(int id, PaginationContext paginationContext)
    {
        if (_lineupResults is null)
        {
            return;
        }

        var serviceResult = await LineupApiService.Get(id, new PaginationRequest { Page = (uint)paginationContext.Page, PageSize = (uint)paginationContext.PageSize });

        if(serviceResult.Data is not { } lineupResult)
        {
            return;
        }

        _lineupResults[_lineupResults.ToList().FindIndex(l => l.Id == serviceResult.Data?.Id)] = lineupResult;
    }
}