@page "/lineups/{lineupId:int}/select-artist"

@layout LineupLayout

@inject IArtistService ArtistApiService
@inject ILineupService LineupApiService

<h3>Select artist</h3>

@{
    var artistHref = $"lineups/{LineupId}/create-artist";
}
<NavLink href="@artistHref">Create new</NavLink>

@if (_lineupServiceResult is not null && _pagedServiceResult is not null)
{
    if (_lineupServiceResult.Data is { } lineupResult && _pagedServiceResult.Data is not null)
    {
        <p>Lineup: @(lineupResult.Name ?? lineupResult.Doors.ToLongDateString())</p>

        <ArtistIndex Context="artistResult" PagedServiceResult="_pagedServiceResult" OnPageChanged="(context) => FetchArtists(LineupId, new PaginationRequest { Page = (uint)context.Page, PageSize = (uint)context.PageSize }, new ArtistFilter ())">
            <ItemTemplate>

                @{
                    var editHref = $"lineups/{lineupResult.Id}/{artistResult.Id}/edit-artist";
                }
                <NavLink href="@editHref">@artistResult.Name</NavLink>

                @{
                    var selectHref = $"lineups/{LineupId}/{artistResult.Id}/add-performance";
                }

                <NavLink href="@selectHref">Select</NavLink>
            </ItemTemplate>
        </ArtistIndex>
    }
    else
    {
        <p>Something went wrong</p>
    }
}
else
{
    <p>Loading...</p>
}

@code {
    [Parameter]
    public int LineupId { get; set; }
    private ServiceResult<LineupResult>? _lineupServiceResult;

    private PagedServiceResult<IList<ArtistResult>>? _pagedServiceResult;

    protected override async Task OnParametersSetAsync()
    {
        _lineupServiceResult = await FetchLineup(LineupId, new PaginationRequest { Page = 1, PageSize = 5 });

        _pagedServiceResult = await FetchArtists(LineupId, new PaginationRequest { Page = 1, PageSize = 24 }, new ArtistFilter { });

        await base.OnParametersSetAsync();
    }

    private async Task<ServiceResult<LineupResult>?> FetchLineup(int id, PaginationRequest paginationRequest)
    {
        return await LineupApiService.Get(id, paginationRequest);
    }

    private async Task<PagedServiceResult<IList<ArtistResult>>?> FetchArtists(int id, PaginationRequest paginationRequest, ArtistFilter artistFilter)
    {
        return await ArtistApiService.GetAll(paginationRequest, artistFilter);
    }

}
